@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    @세팅구역
*/
body {
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
  background: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
  background: #eee;
  font-size: 14px;
}

.main {
  padding-top: 105px;
  width: 100%;
  clear: both;
}
.main > * {
  background: #fff;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.sp-bg, .sc-toon .group-head .btn-interest::before, .group-title .link-more::after, .group-title .link-mark, .header .util-area .link-my::after, .header .util-area .link-search::after, .header .gnb-area .logo {
  background-image: url(../images/sp-bg1.png);
  background-size: 330px 312px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
}

.sp-bg2, .toon-list .ic-up {
  background-image: url(../images/sp-bg2.png);
  background-size: 114px 101px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
}

.hide-scroll, .toon-list.row-small {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scroll .box::-webkit-scrollbar, .toon-list.row-small .box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  font-weight: 300;
  background: #fff;
  transition-duration: 0.5s;
}
.header.hide {
  transform: translateY(-60px);
}
.header.active {
  background: #fff;
}
.header .group-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  padding: 0 16px;
}
.header .gnb-area {
  position: relative;
  height: 40px;
  font-size: 19px;
  display: flex;
  align-items: center;
}
.header .gnb-area .logo {
  width: 17px;
  height: 16px;
  margin-right: 10px;
  background-position: -298px -182px;
}
.header .gnb-area .link-nav:not(.link-active) {
  color: #ccc;
}
.header .gnb-area .link-nav + .link-nav::before {
  content: "";
  display: inline-block;
  vertical-align: -1px;
  margin: 0 6px;
  width: 1px;
  background: #ccc;
  height: 15px;
}
.header .util-area {
  display: flex;
}
.header .util-area .link-search {
  padding: 8px;
}
.header .util-area .link-search::after {
  content: "";
  width: 16px;
  height: 16px;
  background-position: -298px -237px;
}
.header .util-area .link-my {
  padding: 8px 0 8px 8px;
}
.header .util-area .link-my::after {
  content: "";
  width: 29px;
  height: 16px;
  background-position: -180px -245px;
}
.header .lnb-area {
  position: relative;
  text-align: center;
  margin: 8px 0 0;
  font-size: 16px;
  border-bottom: 1px solid #ebebeb;
}
.header .lnb-area .lnb-list {
  display: flex;
  justify-content: space-around;
  max-width: 550px;
  margin: 0 auto;
}
.header .lnb-area .lnb-item a {
  display: block;
  height: 42px;
  padding: 0 22px;
  font-size: 15px;
  line-height: 41px;
  white-space: nowrap;
  position: relative;
}
.header .lnb-area .lnb-item .text {
  display: block;
  position: relative;
  padding: 0 3px;
}
.header .lnb-area .lnb-item.active {
  color: #00d564;
}
.header .lnb-area .lnb-item.active .text::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #00d564;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.header .sublnb-area {
  position: relative;
  text-align: center;
  padding: 8px 0;
  font-size: 16px;
  border-bottom: 1px solid #ebebeb;
  background: #f8f8f9;
}
.header .sublnb-area .sublnb-list {
  display: flex;
  justify-content: space-around;
}
.header .sublnb-area .sublnb-list .sublnb-item a {
  display: inline-block;
  height: 25px;
  padding: 0 8px;
  margin: 2px 0;
  font-size: 15px;
  line-height: 25px;
  white-space: nowrap;
}
.header .sublnb-area .sublnb-list .sublnb-item.active {
  border-radius: 50%;
  color: #fff;
  background: #00d564;
}

.footer {
  position: relative;
  padding: 10px 10px 40px 10px;
  background: #eee;
  color: #999;
  text-align: center;
}
.footer .ad-box {
  margin-bottom: 10px;
  background: #fff;
}
.footer .ad-box .link-foot {
  display: block;
}
.footer .ad-box .link-foot img {
  width: 100%;
  height: auto;
  max-width: 355px;
  margin: 0 auto;
}
.footer .group-nav .site-list {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: #fff;
}
.footer .group-nav .site-list .site-item {
  position: relative;
  line-height: 50px;
}
.footer .group-nav .site-list .site-item a {
  display: block;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 50px;
  color: #000;
}
.footer .group-nav .site-list .site-item + .site-item::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 3px;
  width: 1px;
  height: 12px;
  background: #ccc;
}
.footer .group-info {
  position: relative;
  padding-top: 15px;
}
.footer .group-info .service-area .service-list {
  display: inline-block;
}
.footer .group-info .service-area .service-item {
  position: relative;
  float: left;
}
.footer .group-info .service-area .service-item + .service-item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 1px;
  height: 12px;
  background: #ccc;
}
.footer .group-info .service-area .service-item a {
  display: block;
  padding: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #444;
}
.footer .group-info .info-area {
  font-weight: 300;
}
.footer .group-info .info-area .btn-info {
  position: relative;
  font-size: 13px;
}
.footer .group-info .info-area .btn-info::after {
  content: "+";
  padding-left: 10px;
}
.footer .group-info .info-area .hide-box {
  display: none;
  font-size: 12px;
  line-height: 17px;
  padding-top: 15px;
}
.footer .group-info .info-area .hide-box .link-info {
  display: inline-block;
  margin: 10px 0 8px;
  line-height: 15px;
  border-bottom: 1px solid #888;
}
.footer .group-info .info-desc {
  padding: 5px 0 20px;
  font-size: 12px;
}
.footer .group-info .info-corpArea.top {
  padding-top: 20px;
  border-top: 1px solid #ccc;
  margin: 0 -10px;
}
.footer .group-info .info-corpArea.top ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 355px;
}
.footer .group-info .info-corpArea.top ul li + li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 8px;
  background: #ccc;
}
.footer .group-info .info-corpArea.top ul li a {
  font-size: 12px;
  font-weight: 300;
}
.footer .group-info .info-corpArea.top ul li .privacy {
  font-weight: 500;
}
.footer .group-info .info-corpArea.top ul li:nth-child(4)::before {
  display: none;
}
.footer .group-info .info-corpArea.top .link-addr {
  font-size: 10px;
  font-weight: 100;
}
.footer .group-info .info-corpArea.bottom {
  padding-top: 20px;
}
.footer .group-info .info-corpArea.bottom ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 250px;
}
.footer .group-info .info-corpArea.bottom ul li + li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 8px;
  background: #ccc;
}
.footer .group-info .info-corpArea.bottom ul li a {
  font-size: 12px;
  font-weight: 300;
}
.footer .group-info .info-corpArea.bottom ul li .privacy {
  font-weight: 500;
}
.footer .group-info .info-corpArea.bottom ul li:nth-child(4)::before {
  display: none;
}
.footer .group-info .info-corpArea.bottom .link-addr {
  font-size: 10px;
  font-weight: 100;
}
.footer .btn-top {
  position: absolute;
  top: 10px;
  right: 0;
  width: 35px;
  height: 35px;
  background: #fff;
  font-size: 12px;
  color: #000;
}

.group-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.group-title .title {
  font-size: 15px;
  font-weight: bold;
}
.group-title .link-mark {
  background-position: -114px -207px;
  width: 32px;
  height: 27px;
  margin: -2px 0 -5px 3px;
  margin-right: auto;
}
.group-title .link-more {
  font-size: 12px;
  color: #999;
}
.group-title .link-more::after {
  content: "";
  background-position: -318px -113px;
  width: 7px;
  height: 10px;
  margin: 4px 0 0 3px;
}
.group-title .sort-area {
  color: #999;
  font-size: 12px;
}
.group-title .sort-area .btn-sort.active {
  color: #000;
}
.group-title .sort-area .btn-sort + .btn-sort:before {
  content: "";
  display: inline-block;
  vertical-align: -1px;
  width: 1px;
  height: 11px;
  background: #eee;
  margin: 0 5px;
}
.group-title .num-box {
  font-size: 12px;
  font-weight: 600;
}
.group-title .num-box .curr {
  color: #000;
}

.toon-list .link-toon {
  display: block;
}
.toon-list .thumb {
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid #eee;
}
.toon-list .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.toon-list .info .title {
  display: block;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}
.toon-list .ic-up {
  display: inline-block;
  width: 22px;
  height: 12px;
  background-position: -30px -75px;
}
.toon-list.row-small {
  display: flex;
  overflow-x: auto;
}
.toon-list.row-small .toon-item {
  margin-right: 6px;
}
.toon-list.row-small .thumb {
  position: relative;
  width: 78px;
  height: 55px;
}
.toon-list.row-small .thumb .ic-up {
  position: absolute;
  top: 4px;
  left: 4px;
}
.toon-list.col-small {
  margin-top: 12px;
}
.toon-list.col-small .toon-item {
  padding: 0 15px;
}
.toon-list.col-small .toon-item + .toon-item {
  margin-top: 5px;
}
.toon-list.col-small .link-toon {
  display: flex;
}
.toon-list.col-small .thumb {
  position: relative;
  width: 78px;
  height: 55px;
}
.toon-list.col-small .info {
  overflow: hidden;
  height: 55px;
  padding-left: 15px;
  flex: 1;
  display: flex;
}
.toon-list.col-small .info .ic-up {
  vertical-align: 0;
}
.toon-list.col-small .info .rank {
  line-height: 55px;
  margin-right: 15px;
  width: 30px;
  font-size: 20px;
  text-align: center;
}
.toon-list.col-small .info .text-box {
  height: 55px;
  padding: 7px 0;
  flex: 1;
}
.toon-list.col-small .info .text-box .title {
  display: inline-block;
  font-size: 14px;
}
.toon-list.col-small .info .text-box .text-sub {
  font-size: 12px;
  color: #999;
}

.sc-latest {
  padding: 20px 0 15px;
}
.sc-latest .latest {
  padding: 10px 0 0 15px;
}

.ad-box {
  display: block;
  width: 100%;
  padding: 20px 0;
  height: 150px;
}
.ad-box .link-ad {
  position: relative;
  display: block;
  width: 100%;
  height: 150px;
  background: linear-gradient(#23a0fa, #8fd4ff);
}
.ad-box .link-ad img {
  width: 320px;
  height: 150px;
  margin: 0 auto;
}

.sc-top10 {
  padding: 40px 0;
  margin-bottom: 5px;
}
.sc-top10 .swiper {
  height: 300px;
}
.sc-top10 .swiper .sort-area .btn-sort {
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  color: #999;
}
.sc-top10 .swiper .sort-area .btn-sort.active {
  color: #000;
}

.sc-new {
  position: relative;
  padding: 20px 0;
}
.sc-new .swiper {
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  padding: 0 80px 0 15px;
  height: 130px;
  box-sizing: border-box;
}
.sc-new .swiper .swiper-slide {
  width: 400px;
  height: 100%;
  background: rgb(250, 237, 161);
}
.sc-new .swiper .swiper-slide .link {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc-new .swiper .swiper-slide .link .info {
  display: block;
  width: 120px;
}
.sc-new .swiper .swiper-slide .link .info .title {
  font-size: 16px;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer: off */
}
.sc-new .swiper .swiper-slide .link .info .author {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-size: 12px;
  margin: 2px 0 5px;
  opacity: 0.5;
}
.sc-new .swiper .swiper-slide .link .info .desc {
  font-size: 13px;
  line-height: 15px;
  max-height: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer: off */
  color: #444;
}
.sc-new .swiper .swiper-slide .link .thumb {
  width: 163px;
  height: 130px;
}
.sc-new .swiper .swiper-slide:nth-child(3) {
  background: rgb(236, 165, 147);
}

.sc-age {
  padding: 20px 0;
}
.sc-age .group-sort {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}
.sc-age .group-sort .btn-sort {
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  color: #999;
}
.sc-age .group-sort .btn-sort.active {
  color: #000;
}
.sc-age .swiper {
  height: 300px;
}

.sc-recommend {
  padding: 40px 0 20px;
}
.sc-recommend .scroll-area {
  overflow: hidden;
  width: 100%;
  padding: 12px 0 0 15px;
  box-sizing: border-box;
}
.sc-recommend .scroll-area .link-toon {
  display: block;
}
.sc-recommend .scroll-area .link-toon .thumb {
  overflow: hidden;
  width: 130px;
  height: 130px;
}
.sc-recommend .scroll-area .link-toon .thumb img {
  width: auto;
  height: 100%;
}
.sc-recommend .scroll-area .link-toon strong.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  text-align: left;
  width: 120px;
  display: block;
  padding-top: 5px;
}
.sc-recommend .scroll-area .link-toon .author {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 120px;
  font-size: 12px;
  color: #999;
}

.sc-common {
  padding: 20px 0 0;
  margin-top: 40px;
  margin-bottom: 5px;
}
.sc-common .swiper {
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  padding: 0 80px 0 15px;
  height: 130px;
  box-sizing: border-box;
}
.sc-common .swiper .swiper-slide {
  width: 400px;
  height: 100px;
}
.sc-common .swiper .swiper-slide .link {
  position: relative;
  display: block;
}
.sc-common .swiper .swiper-slide .link .thumb {
  width: 110px;
  height: 110px;
  float: left;
  margin-right: 15px;
}
.sc-common .swiper .swiper-slide .link .thumb img {
  max-width: 100%;
  height: auto;
  padding-top: 10px;
  background: rgb(250, 237, 161);
}
.sc-common .swiper .swiper-slide .link .info {
  padding-top: 8px;
  overflow: hidden;
}
.sc-common .swiper .swiper-slide .link .info .title {
  font-size: 16px;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer: off */
}
.sc-common .swiper .swiper-slide .link .info .author {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-size: 12px;
  margin: 2px 0 10px;
  opacity: 0.5;
}
.sc-common .swiper .swiper-slide .link .info .desc {
  font-size: 13px;
  line-height: 15px;
  max-height: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer: off */
  color: #444;
  font-weight: 300;
}

.sc-toon {
  padding: 20px 0;
}
.sc-toon .group-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 10px;
}
.sc-toon .group-head .select-area {
  position: relative;
  font-size: 12px;
}
.sc-toon .group-head .select-area::after {
  content: "▼";
  position: absolute;
  font-size: 5px;
  top: 0px;
  right: -15px;
}
.sc-toon .group-head .select-area .select-sort {
  position: absolute;
  top: 0px;
  font-size: 12px;
  border: 0;
  background: none;
  line-height: 13px;
  opacity: 0;
}
.sc-toon .group-head .btn-interest {
  position: relative;
  margin-bottom: 5px;
  font-size: 13px;
  color: #999;
}
.sc-toon .group-head .btn-interest::before {
  background-position: -255px -271px;
  width: 14px;
  height: 14px;
  content: "";
  position: absolute;
  top: 5px;
  left: -20px;
}
.sc-toon .group-inner {
  padding: 0 15px;
}
.sc-toon .group-inner .toon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.sc-toon .group-inner .toon-list .toon-item {
  width: 33.3%;
}
.sc-toon .group-inner .toon-list .toon-item .link {
  display: block;
}
.sc-toon .group-inner .toon-list .toon-item .link .thumb {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: none;
}
.sc-toon .group-inner .toon-list .toon-item .link .thumb img {
  background: rgb(250, 237, 161);
  width: 150px;
  height: 150px;
}
.sc-toon .group-inner .toon-list .toon-item .link .info {
  text-align: left;
  font-weight: 300;
  margin-bottom: 10px;
}
.sc-toon .group-inner .toon-list .toon-item .link .info .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  display: block;
  text-align: left;
}
.sc-toon .group-inner .toon-list .toon-item .link .info .author {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  display: block;
}
.sc-toon .group-inner .toon-list .toon-item .link .info .desc {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  color: #999;
}
.sc-toon .group-inner .toon-list .toon-item .link .info .detail {
  display: block;
  margin-top: 4px;
  line-height: 12px;
}
.sc-toon .line {
  height: 10px;
  background: #eee;
  margin-bottom: 160px;
}