@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    @세팅구역
*/
body {
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
  background: #fff;
  font-size: 14px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  font-weight: 300;
  background: #fff;
  transition-duration: 0.5s;
}
.header.hide {
  transform: translateY(-50%);
}
.header.active {
  background: #fff;
}
.header .gnb-area {
  position: relative;
  height: 40px;
  font-size: 19px;
}
.header .gnb-area h1, .header .gnb-area a {
  float: left;
}
.header .gnb-area .logo {
  margin: 13px 5px 13px 13px;
  width: 20px;
  height: 20px;
  background: #f00;
}
.header .gnb-area .link-webnovel::before {
  content: "";
  display: inline-block;
  vertical-align: -1px;
  margin: 0 6px;
  width: 1px;
  background: #000;
  height: 15px;
}
.header .gnb-area .link-webseries::before {
  content: "";
  display: inline-block;
  vertical-align: -1px;
  margin: 0 6px;
  width: 1px;
  background: #000;
  height: 15px;
}
.header .gnb-area .link-webtoon, .header .gnb-area .link-webnovel, .header .gnb-area .link-webseries {
  padding: 8px 0 0 5px;
}
.header .link-search {
  position: absolute;
  top: 10px;
  right: 55px;
  width: 20px;
  height: 20px;
  background: #f00;
  padding: 8px;
}
.header .link-my {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 20px;
  height: 20px;
  background: #f00;
  padding: 8px;
}
.header .lnb-area {
  position: relative;
  text-align: center;
  clear: both;
  margin: 8px 0 0;
  font-size: 16px;
  border-bottom: 1px solid #ebebeb;
}
.header .lnb-area .lnb-list {
  display: flex;
  justify-content: space-around;
  max-width: 550px;
  margin: 0 auto;
}
.header .lnb-area .lnb-list .text {
  display: inline-block;
  padding-bottom: 3px;
}
.header .lnb-area .lnb-list .text:hover {
  color: #00d564;
  border-bottom: 2px solid #00d564;
}
.header::after {
  content: "";
  display: block;
  clear: both;
}

.footer {
  position: relative;
  padding: 10px 10px 40px 10px;
  background: #eee;
  color: #999;
  text-align: center;
}
.footer-banner {
  display: block;
  margin-bottom: 10px;
  background: #fff;
}
.footer-banner img {
  width: 100%;
  max-width: 355px;
  margin: 0 auto;
}
.footer .site-list {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: #fff;
}
.footer .site-list .site-item {
  position: relative;
  line-height: 50px;
}
.footer .site-list .site-item a {
  display: block;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 50px;
  color: #000;
}
.footer .site-list .site-item + .site-item::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 3px;
  width: 1px;
  height: 12px;
  background: #ccc;
}
.footer .info {
  position: relative;
  padding-top: 15px;
}
.footer .info .service-list {
  display: inline-block;
}
.footer .info .service-item {
  position: relative;
  float: left;
}
.footer .info .service-item + .service-item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 1px;
  height: 12px;
  background: #ccc;
}
.footer .info .service-item a {
  display: block;
  padding: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #444;
}
.footer .info-hide {
  font-weight: 300;
}
.footer .info-hide .btn-info {
  position: relative;
  font-size: 13px;
}
.footer .info-hide .btn-info::after {
  content: "+";
  padding-left: 10px;
}
.footer .info-hideArea {
  display: none;
  font-size: 12px;
  line-height: 17px;
  padding-top: 15px;
}
.footer .info-hideArea .link-info {
  display: inline-block;
  margin: 10px 0 8px;
  line-height: 15px;
  border-bottom: 1px solid #888;
}
.footer .info-desc {
  padding: 5px 0 20px;
  font-size: 12px;
}
.footer .info-corpArea.top {
  padding-top: 20px;
  border-top: 1px solid #ccc;
  margin: 0 -10px;
}
.footer .info-corpArea.top ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 355px;
}
.footer .info-corpArea.top ul li + li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 8px;
  background: #ccc;
}
.footer .info-corpArea.top ul li a {
  font-size: 12px;
  font-weight: 300;
}
.footer .info-corpArea.top ul li .privacy {
  font-weight: 500;
}
.footer .info-corpArea.top ul li:nth-child(4)::before {
  display: none;
}
.footer .info-corpArea.top .link-addr {
  font-size: 10px;
  font-weight: 100;
}
.footer .info-corpArea.bottom {
  padding-top: 20px;
}
.footer .info-corpArea.bottom ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 250px;
}
.footer .info-corpArea.bottom ul li + li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 8px;
  background: #ccc;
}
.footer .info-corpArea.bottom ul li a {
  font-size: 12px;
  font-weight: 300;
}
.footer .info-corpArea.bottom ul li .privacy {
  font-weight: 500;
}
.footer .info-corpArea.bottom ul li:nth-child(4)::before {
  display: none;
}
.footer .info-corpArea.bottom .link-addr {
  font-size: 10px;
  font-weight: 100;
}
.footer .btn-top {
  position: absolute;
  top: 10px;
  right: 0;
  width: 35px;
  height: 35px;
  background: #fff;
  font-size: 12px;
  color: #000;
}

.main {
  padding-top: 75px;
  width: 100%;
  clear: both;
}

hr.first-hr {
  border: 2px solid #eee;
}

.sc-latest {
  padding: 20px 0 15px;
}
.sc-latest .latest-head {
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
.sc-latest .latest-head .title {
  float: left;
  font-size: 15px;
  font-weight: 500;
}
.sc-latest .latest-head .link-mark {
  display: inline-block;
  width: 30px;
  height: 20px;
  background: #f00;
  margin: 5px 0 5px 5px;
}
.sc-latest .latest-head .link-more {
  float: right;
  font-size: 13px;
  font-weight: 300;
  color: #999;
}
.sc-latest .latest-head .link-more::after {
  content: ">";
  margin-left: 5px;
}
.sc-latest .latest-head::after {
  content: "";
  display: block;
  clear: both;
}
.sc-latest .latest {
  overflow: hidden;
  width: 100%;
  padding: 10px 0 0 15px;
}
.sc-latest .latest-list {
  display: flex;
}
.sc-latest .latest-item {
  padding-right: 5px;
}
.sc-latest .latest-item .link {
  display: block;
}
.sc-latest .latest-item .link .thumb {
  overflow: hidden;
  width: 78px;
  height: 55px;
  border-radius: 2px;
  border: 1px solid #eee;
}
.sc-latest .latest-item .link .title {
  display: block;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}

.sc-banner {
  padding: 20px 0;
}
.sc-banner .link {
  display: block;
  width: 100%;
  background: linear-gradient(#23a0fa, #8fd4ff);
}
.sc-banner .link img {
  margin: 0 auto;
  width: 320px;
  height: 150px;
}

.sc-top10 {
  padding: 20px 0;
}
.sc-top10 .top10-head {
  padding: 0 15px;
}
.sc-top10 .top10-head .title {
  float: left;
  font-size: 15px;
  font-weight: 500;
}
.sc-top10 .top10-head .switch-box {
  float: right;
  font-size: 13px;
  font-weight: 300;
}
.sc-top10 .top10-head .switch-box .btn-switch {
  padding: 0 8px;
  margin-right: -10px;
}
.sc-top10 .top10-head .switch-box .btn-switch:last-child::before {
  content: "";
  display: inline-block;
  vertical-align: -1px;
  background: #000;
  width: 1px;
  height: 11px;
  margin-right: 8px;
}
.sc-top10 .top10-head::after {
  content: "";
  display: block;
  clear: both;
}
.sc-top10 .top10 {
  overflow: hidden;
  margin-top: 10px;
  height: 300px;
  padding-right: 40px;
  box-sizing: border-box;
}
.sc-top10 .top10-area {
  width: 100%;
}
.sc-top10 .top10-list {
  padding: 0 15px;
}
.sc-top10 .top10-item {
  margin-top: 5px;
}
.sc-top10 .top10-item:first-child {
  margin-top: 0;
}
.sc-top10 .top10-item .link {
  display: block;
}
.sc-top10 .top10-item .link .thumb {
  overflow: hidden;
  float: left;
  width: 78px;
  height: 55px;
}
.sc-top10 .top10-item .link .thumb img {
  height: 100%;
  width: auto;
  margin: auto;
}
.sc-top10 .top10-item .link .info {
  overflow: hidden;
  height: 55px;
  padding-left: 15px;
}
.sc-top10 .top10-item .link .info .rank {
  float: left;
  line-height: 55px;
  margin-right: 15px;
  width: 30px;
  font-size: 20px;
  text-align: center;
}
.sc-top10 .top10-item .link .info .text-box {
  float: left;
  height: 55px;
  padding: 7px 0;
}
.sc-top10 .top10-item .link .info .text-box .title {
  font-size: 14px;
}
.sc-top10 .top10-item .link .info .text-box .text-sub {
  font-size: 12px;
  color: #999;
}

hr.second-hr {
  border: 5px solid #eee;
  margin: 20px 0;
}

.sc-new {
  position: relative;
  padding: 20px 0;
}
.sc-new .new-head {
  position: relative;
  overflow: hidden;
  padding: 0 15px;
}
.sc-new .new-head .title {
  float: left;
  font-size: 15px;
  font-weight: 500;
}
.sc-new .new-head .num-box {
  position: absolute;
  top: 2px;
  right: 15px;
  font-size: 12px;
  font-weight: 600;
  color: #999;
}
.sc-new .new-head .num-box .curr-page {
  color: #000;
}
.sc-new .new-cont {
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  padding: 0 80px 0 15px;
  height: 130px;
  box-sizing: border-box;
}
.sc-new .new-cont .swiper-slide {
  width: 400px;
  height: 100%;
  background: rgb(250, 237, 161);
}
.sc-new .new-cont .swiper-slide .link {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc-new .new-cont .swiper-slide .link .info {
  display: block;
  width: 120px;
}
.sc-new .new-cont .swiper-slide .link .info .title {
  font-size: 16px;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer: off */
}
.sc-new .new-cont .swiper-slide .link .info .author {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-size: 12px;
  margin: 2px 0 5px;
  opacity: 0.5;
}
.sc-new .new-cont .swiper-slide .link .info .desc {
  font-size: 13px;
  line-height: 15px;
  max-height: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer: off */
  color: #444;
}
.sc-new .new-cont .swiper-slide .link .thumb {
  width: 163px;
  height: 130px;
}
.sc-new .new-cont .swiper-slide:nth-child(3) {
  background: rgb(236, 165, 147);
}

.sc-age {
  padding: 20px 0;
}
.sc-age h2.title {
  padding-left: 15px;
  font-size: 15px;
  font-weight: 500;
}
.sc-age .group-area {
  position: relative;
  overflow: hidden;
  padding-left: 2px;
}
.sc-age .group-area .group-wrap {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}
.sc-age .group-area .group-wrap .btn-switch {
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  color: #999;
}
.sc-age .group-area .group-wrap .btn-switch:first-child {
  color: #000;
}
.sc-age .age-cont {
  margin-top: 10px;
  height: 300px;
  padding-right: 40px;
  box-sizing: border-box;
}
.sc-age .age-cont .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.sc-age .age-cont .swiper-wrapper .webtoon-list {
  padding: 0 15px;
}
.sc-age .age-cont .swiper-wrapper .webtoon-list .webtoon-item {
  margin-top: 5px;
}
.sc-age .age-cont .swiper-wrapper .webtoon-list .webtoon-item:first-child {
  margin-top: 0;
}
.sc-age .age-cont .swiper-wrapper .webtoon-list .webtoon-item .link {
  display: block;
}
.sc-age .age-cont .swiper-wrapper .webtoon-list .webtoon-item .link .thumb {
  float: left;
  width: 78px;
  height: 55px;
}
.sc-age .age-cont .swiper-wrapper .webtoon-list .webtoon-item .link .thumb img {
  height: 100%;
  width: auto;
  margin: auto;
}
.sc-age .age-cont .swiper-wrapper .webtoon-list .webtoon-item .link .info {
  overflow: hidden;
  height: 55px;
  padding-left: 15px;
}
.sc-age .age-cont .swiper-wrapper .webtoon-list .webtoon-item .link .info .rank {
  float: left;
  line-height: 55px;
  margin-right: 15px;
  width: 30px;
  font-size: 20px;
  text-align: center;
}
.sc-age .age-cont .swiper-wrapper .webtoon-list .webtoon-item .link .info .text-box {
  float: left;
  padding: 10px 0;
  height: 55px;
}
.sc-age .age-cont .swiper-wrapper .webtoon-list .webtoon-item .link .info .text-box strong.title {
  font-size: 14px;
  line-height: 18px;
  max-height: 18px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; /* autoprefixer: off */
  font-weight: 400;
}
.sc-age .age-cont .swiper-wrapper .webtoon-list .webtoon-item .link .info .text-box .author {
  font-size: 12px;
  color: #999;
}
.sc-age .age-cont .swiper-wrapper .webtoon-list .webtoon-item .link::after {
  content: "";
  display: block;
  clear: both;
}

.sc-recommend {
  padding: 20px 0;
}
.sc-recommend h2.title {
  padding: 0 15px;
  font-size: 15px;
  font-weight: 500;
}
.sc-recommend .recommend {
  overflow: hidden;
  width: 100%;
  padding: 12px 0 0 15px;
  box-sizing: border-box;
}
.sc-recommend .recommend-list {
  display: flex;
}
.sc-recommend .recommend-item {
  padding-right: 8px;
}
.sc-recommend .recommend-item .link {
  display: block;
}
.sc-recommend .recommend-item .link .thumb {
  overflow: hidden;
  width: 130px;
  height: 130px;
}
.sc-recommend .recommend-item .link .thumb img {
  width: auto;
  height: 100%;
}
.sc-recommend .recommend-item .link strong.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 120px;
  display: block;
  padding-top: 5px;
}
.sc-recommend .recommend-item .link .author {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 120px;
  font-size: 12px;
  color: #999;
}