body {
    min-width: 500px;
    font-family: $font-kr;
    color: #000;
    background: #eee;
    font-size: 14px;
}
.main {
    padding-top: 105px;
    width: 100%;
    clear: both;
    &>*{
        background: #fff;
    }
}    

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}


.sp-bg {
    background-image: url(../images/sp-bg1.png);
    background-size: 330px 312px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}
.sp-bg2 {
    background-image: url(../images/sp-bg2.png);
        -webkit-background-size: 114px 101px;
        background-size: 114px 101px;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: top;
}


.hide-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
    }
}

