// Footer 
.footer {
    position: relative;
    padding: 10px 10px 40px 10px;
    background: #eee;
    color: #999;
    text-align: center;

    .ad-box {
        margin-bottom: 10px;
        background: #fff;
        
        .link-foot {
            display: block;
            
            img {
                width: 100%; height: auto;
                max-width: 355px;
                margin: 0 auto;
            }
        }
    }

    .group-nav {
        
        .site-list {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 50px;
            background: #fff;
    
            .site-item {
                position: relative;
                line-height: 50px;
    
                a {
                    display: block;
                    padding: 0 20px;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 50px;
                    color: #000;
                }
    
                &+.site-item::before {
                    content: "";
                    position: absolute;
                    top: 19px; left: 3px;
                    width: 1px;
                    height: 12px;
                    background: #ccc;
                }
            }
        }
    }


    .group-info {
        position: relative;
        padding-top: 15px;

        .service-area {

            .service-list { display: inline-block; }
            .service-item {
                position: relative;
                float: left;

                &+.service-item::before {
                    content: "";
                    position: absolute;
                    top: 12px; left: 0; 
                    width: 1px; height: 12px;
                    background: #ccc;
                }
                a {
                    display: block;
                    padding: 10px;
                    font-size: 14px;
                    line-height: 15px;
                    color: #444;
                }
            }
        }

        .info-area {
            font-weight: 300;
            .btn-info {
                position: relative;
                font-size: 13px;
                
                &::after {
                    content: "+";
                    padding-left: 10px;
                }
            }

            .hide-box {
                display: none;
                font-size: 12px;
                line-height: 17px;
                padding-top: 15px;
    
                .link-info {
                    display: inline-block;
                    margin: 10px 0 8px;
                    line-height: 15px;
                    border-bottom: 1px solid #888;
    
                }
            }

        }
        .info-desc {
            padding: 5px 0 20px;
            font-size: 12px;
        }

        .info-corpArea.top{
            padding-top: 20px;
            border-top: 1px solid #ccc;
            margin: 0 -10px;            
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                max-width: 355px;
                
                li {
                    &+li::before {
                        content: "";
                        display: inline-block;
                        width: 1px; height: 10px;
                        margin: 0 8px;
                        background: #ccc;
                    }
                    a {
                        font-size: 12px;
                        font-weight: 300;
                    }
                    .privacy {font-weight: 500;}
                }
                li:nth-child(4)::before {
                    display: none;
                }
            }
            .link-addr {
                font-size: 10px;
                font-weight: 100;
            }
        }

        .info-corpArea.bottom {
            padding-top: 20px;
            
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                max-width: 250px;
                
                li {
                    &+li::before {
                        content: "";
                        display: inline-block;
                        width: 1px; height: 10px;
                        margin: 0 8px;
                        background: #ccc;
                    }
                    a {
                        font-size: 12px;
                        font-weight: 300;
                    }
                    .privacy {font-weight: 500;}
                }
                li:nth-child(4)::before {
                    display: none;
                }
            }
            .link-addr {
                font-size: 10px;
                font-weight: 100;
            }
        }
    }

    .btn-top {
        position: absolute;
        top: 10px; right: 0;
        width: 35px; height: 35px;
        background: #fff;
        font-size: 12px;
        color: #000;
    }
}